:root {
  --bg-primary: #1E1E1E;
  --c-grey: #868A8D;
  --c-font-light: #3A4047;
  --c-font-regular: #1D1D1D;;
  --c-font-white: #f5f5f5;
  --c-bg-prices-item: #F1F3F3;
  --c-gold-primary: #A27411;
  --c-discount-green: #21A36A;
  --c-font-black: #181B1B;

  --c-font-secondary: #8d8d8d;

  --c-btn-primary: #C3993E;
  --c-btn-sec-hover: #F5EBD6;
  
  --c-button-border: #3b3b3b;
  --c-section-border: #000000;
  --c-link: #000000;
  --c-form-invalid: #f00;
  --c-valid: #62c584;
  --border-section: 1px solid #000;
  --ff-regular: "Montserrat", "Arial", sans-serif;
  --fz-regular: 18px;
  --gutter-wrapper: 100px;
  --pop-fade-in-up: all 0.5s ease-out;
  --border-radius-btn: 12px;
  --border-radius-banners: 24px;


  --swiper-bullet-size: 10px;
  --swiper-bullet-active-size: 18px;

  --z-modal: 1000;
  --z-burger: 999;
  --z-header: 998;
}



