.btn
    width: 280px
    height: 54px
    background: var(--c-gold-primary)
    text-align: center
    border: none
    border-radius: 27px
    font-family: 'Inter'
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 24px
    color: #FFFFFF
    cursor: pointer
    transition: .2s
    +mw(768)
        font-size: 14px


    &:hover
        background: var(--c-btn-primary)

    &-white
        @extend .btn
        background: #fff
        color: var(--c-font-black)

        &:hover
            background: var(--c-btn-sec-hover)

.shine 





  

